*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 @font-face {
    font-family: 'MyCustomFont';
    src: url(COPYRIGHT.txt) format('woff2'),
         url(COPYRIGHT.txt) format('woff');
    font-weight: normal;
    font-style: normal;
 }
 .headik {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #0B0D17;
    width: 100%;
    height: 60px;
    z-index: 99;
 }
 
 
 .headik p {
    position: absolute;
    font-weight: 400;
    line-height: 13.2px;
    color: #31333D;
    width: 157px;
    height: 26px;
    left: 307px;
 }
 
 .frrf {
    text-wrap: wrap;
 }
 
 
 nav {
    position: absolute;
    left: 747px;
    display: flex;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 nav a {
    color: #ffffff;
    text-decoration: none;
 }
 
 nav a:hover {
    color: #60CDF6;
    text-decoration: underline;
 }
 
 .biton {
    position: absolute;
    color: #fff;
    background-color: #23252E;
    width: 70px;
    height: 30px;
    top: 15px;
    left: 1283px;
    border: 1px solid #31333D;
    border-radius: 16px;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 .hyt1 {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.2px;
    color: rgba(130, 130, 130, 1);
    position: absolute;
    font-size: 14px;
    left: 307px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .logo1 {
    position: absolute;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    left: 183px;

 }
 @media only screen and (max-width: 600px) {
        .hyt1 {
            left: 200px; 
        }
        }
 @media only screen and (max-width: 600px) {
    .logo1 {
        left: 80px; 
    }
}
.aziz1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 22px;
font-weight: 700;
line-height: 24.2px;
letter-spacing: 0.03em;
text-align: left;
color: #fff;
top: 199px;
left: 233px;
position: absolute;
}
.aziz2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 39.6px;
letter-spacing: 0.03em;
text-align: left;
color: rgba(239, 56, 51, 1);
text-decoration: underline;

}
.mainpng {
    position: relative;
    width: 100%;
height: 500px;
top: 60px;

 }
 .muy {
    width: 151px;
    height: 44px;
    top: 384px;
    left: 233px;
    border-radius: 4px 4px 4px 4px;
    border: 1px 1px 1px 1px;
    background-color: #60CDF6;
    border-color: #60CDF6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 15.92px;
    text-align: left;
    position: absolute;
 }
 .ios {
   position: absolute;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: rgba(81, 85, 94, 1);
top: 700px;
right: 213px;
 text-wrap: nowrap;

 }
 .jerry {
  font-family: Arial, Helvetica, sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 39.6px;
letter-spacing: 0.01em;
text-align: left;
color: #0B0D17;
 }
 .pod {
    width: 222px;
height: 69px;
top: 800px;
left: 253px;
position: absolute;
 }
 .uclug {
 font-family: Arial, Helvetica, sans-serif;
font-size: 38px;
font-weight: 700;
line-height: 41.8px;
letter-spacing: 0.01em;
text-align: center;
position: absolute;
top: 1163px;
left: 45%;
 }


 
 .pur {
margin-top: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
       
 }
 .ziziz1 {
 position: absolute;
    width: 970px;
height: 289px;
 background-color: #0B0D17;
display: flex;
align-items: center;
justify-content: center;
gap: 0px;
border-radius: 12px 12px 12px 12px;
margin-top: 30px;
left: 300px;
 }
 
 .ziz1 {
   width: 400px;
   height: 300px;
   position: absolute;
   right: 0;
 }
 .navi {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 17.6px;
letter-spacing: 0.03em;
text-align: left;
color: #fff;
left: 50px;
top: 90px;
position: absolute;
 }
 .moi {
 font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 25.2px;
letter-spacing: 0.03em;
text-align: left;
color: #fff;
 }
 .ziziz2 {
    position: absolute;
    width: 970px;
height: 289px;
 background-color: #0B0D17;
display: flex;
align-items: center;
justify-content: center;
gap: 0px;
border-radius: 12px 12px 12px 12px;
top: 1600px;
left: 300px;
 }
 .ziziz3 {
    position: absolute;
    width: 970px;
height: 289px;
 background-color: #0B0D17;
display: flex;
align-items: center;
justify-content: center;
gap: 0px;
border-radius: 12px 12px 12px 12px;
top: 1900px;
left: 300px;
 }
 .der {
    position: absolute;
    width: 197px;
height: 44px;
top: 220px;
left: 50px;
border-radius: 4px 4px 4px 4px;
color: #fff;
border-color: #60CDF6;
background-color: #60CDF6;
display: flex;
align-items: center;
justify-content: center;
 }
 .foot {
    gap: 0;
    position: absolute;
    background-color: rgba(11, 13, 23, 1);
    width: 100%;
    
 height: 357px;
 top: 2000px;
 display: flex;
 align-items: center;
 justify-content: center;
 }
 .icons1{
    width: 113px;
    height: 31px;
   
    left: 1130px;
 position: absolute;
 }
 .nav1 {
    position: absolute;
 left: 500px;
    display: flex;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 .nav1 a {
    color: #ffffff;
    text-decoration: none;
 }
 
 .nav1 a:hover {
    color: #60CDF6;
    text-decoration: underline;
 }
 .biton2 {
    position: absolute;
    color: #fff;
    background-color: #23252E;
    width: 70px;
    height: 30px;
 
    left: 1270px;
    border: 1px solid #31333D;
    border-radius: 16px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .muchah {
    width: 100px;
 height: 30px;
 left: 183px;
 position: absolute; }
 .footer {
    top: 2000px;
    width: 100%;
    background-color: rgba(11, 13, 23, 1);
 height: 60px;
 position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
 }
 .end {
    position: absolute;
   font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 font-weight: 400;
 left: 183px;
 color: rgba(68, 68, 68, 1);
 }
 